.container {
    /* border: 3px solid #f44646; */
    /* width: 90vw; */
    padding-top: 10px !important;
}

.left-c {
    border: 2px solid #fff;
    border-top: 0;
    border-bottom: 0;
    max-width: 100%;
}

.root {
    display: flex;
    justify-content: center;
}
.player-info {
    margin: 4px;
}

.upper-has-video .player-info {
    margin-top: 120px;
}

.player-info .info-row {
    /* line-height: 2rem; */
    font-family: 'Secular One', sans-serif;;
}


.name {
    color: #f44646;
   
}

.padding {
    padding: 1em;
}

.player-image {
    /* background-image: url('https://picsum.photos/200/300'); */
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vw;
    border: 2px solid rgb(68, 68, 68);
    background-position: center;
    margin: 1em;
}

.name {
    font-size: 4rem;
    line-height: 4rem;
    border: 1px solid #f44646;
    background-color: #f44646;
    color: white;
    white-space: break-spaces;
}

.name, .number , .add-on-info{
    padding: 10px;

}

.age, .number {
    font-size: 3rem;
    line-height: 3rem;
    color: #fff;
}
.age {
    font-size: 3rem;
    line-height: 1;
}
.add-on-info {
    font-size: 2rem;
    line-height: 2rem;
    color: rgb(68, 68, 68);

}

.gap-1 {
    gap: 1em;
}
.player-image-div {
    overflow: visible;
}

.current-bid-price {
    color: #934f5a;
    position: absolute;
    font-size: 75px;
    line-height: 92px;
    font-weight: bolder;
    padding: 32px;
    padding-block: 21px;
    /* border: 1px solid rgb(193, 193, 193); */
    top: 0;
    right: 0;
    z-index: 2;
    background-color: rgb(0, 50, 135);
    text-shadow: 0 0 4px #fff;
    color: #fff;
    border-radius: 50vw;
    outline: 5px solid #fff;
    /* border-top-right-radius: 0; */
    box-shadow: 0 0 50px 22px rgba(0, 49, 135, 0.8);
}
.upper-has-video .current-bid-price {
    bottom: -107px;
    top: unset;
}


.current-bid-price {
}

.upper-row {
    position: relative;
}

.video-upper-row {
    /* display: grid;
    grid-template-columns: 0.8fr 0.2fr; */
}
.react-player-wrapper {
    position: relative;
}
.react-player-wrapper video {
    transform: scale(1.33);
    /* padding-bottom: 30px; */
    position: relative;
    top: 60px;
}
.info-row {
    border-bottom: 1px solid #f44646;
}
.info-row-dark {
    color: #934f5a;
}

.info-row:nth-last-child(1) {
    border-bottom: transparent;
}
.horiz-btn-col > * {
    width: 100%;
}

.upper-has-video .slider-btns {
    position: relative;
    left: 10px;
    margin-top: 40px;
}

.upper-has-video > .player-info > .slider-btns {
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #000, inset 0 0 10px 2px #b3b3b3;

}

.add-on-btns-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.add-on-btns-row > * {
    font-size: 10px;
}

.slider-btns.row {
    width: 100%;
}
.slider-btns .col button {
    /* width: inherit; */
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
}
.slider-btns .numeric-row.col button{
    font-size: 21px;
    line-height: 25px;
}
.upper-row {
    /* height: 450px; */
}
.upper-has-video .numeric-row.col,
.upper-has-video .slider-btns {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.upper-has-video .slider-btns {
    font-size: 14px !important;
}
#player-photo{
    transform: scale(1.1);
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: top;
    border-radius: 10px;
}
#player-image-div {
    position: relative;
}
#player-image-div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(231,251,63);
    background: radial-gradient(circle, rgba(232, 251, 63, 0.934) 0%, rgba(252,70,107,0) 100%);
    background-position: center;
}
#player-image-div{
    /* min-height: 75%; */
    height: 450px;
    overflow: hidden;
}

.current-bid-price-sm {
    font-size: 30px;
}

.one-btn.btn-primary {
    background-color: #07029e;
    border-color: #07029e;
    color: rgb(255, 255, 255);
}
.one-btn.btn-primary:hover {
    background-color: #069506;
    border-color: #069506;
}
.five-btn.btn-primary {
    background-color: #0095da;
    border-color: #0095da;
    color: #04015d;
}
.five-btn.btn-primary:hover {
    background-color: #f1a00c;
    border-color: #f1a00c;
}

.game-changer::after {
    content: '';
    position: absolute;
    width: 12rem;
    height: 12rem;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: url('../../public/Images/star.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3vw;
    padding: 30px;
    /* box-shadow: 0 0 10px 10px #0000006e; */
    filter: drop-shadow(2px 4px 6px black);
}