.container-tb {
    /* border: 3px solid #f44646; */
    border-radius: 30px;
    margin-top: 5px;
}

.team-buttons-cntr {
    max-width: 98% !important;
    padding-inline: 0 !important;
    margin-inline: auto;
}

.root {
    display: flex;
    justify-content: center;
}

.root ul, .root li {
    margin: 0;
    padding: 0;
}

.root li::marker {
    content: '';
}

.team-buttons {
    margin: 1rem 0.2rem;
    padding: 1rem 0.2rem;
}

.btn.btn-light {
    border: 1px solid black;
}

.row.team-buttons button {
    width: inherit !important;
    font-size: 1.45em;
}

.row.team-buttons .col.main-col {
    margin-bottom: 1rem
}

.team-player-list.row .player-name {
    text-align: left;
    color: white;
    font-size: 0.9em;
    padding-right: 0;
    padding-left: 2px;
}

.player-coins {
    color:  #c4ff00;
    padding-left: 0 !important;
    text-align: right;
}

.team-name.text-left {
    text-align: left;
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 98vw;
        padding: 0;
    }
}


.player-entry {
    display: flex;
    max-height: fit-content;
    position: relative;
    border: 1px solid rgb(255, 255, 255);
}

.team-player-list {
    height: inherit;
    margin-top: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    line-height: 3rem;
    background-color: #f44646;
    color: white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-left: -3px;
    margin-right: -3px;
}

.team-action-button {
    font-size: 1.7rem;
}

.player-entry, .player-entry.row {
    font-size: 1.5rem;
    line-height: 1.7rem;
}

.team-buttons.row {
    /* padding-left: 5px !important;
    padding-right: 5px !important; */
}
