.container-tb {
    /* border: 3px solid #f44646; */
    border-radius: 30px;
    margin-top: 5px;
    font-family: 'poppins-regular';
    
}

.team-buttons-cntr {
    max-width: 98% !important;
    padding-inline: 0 !important;
    margin-inline: auto;
}

.root {
    display: flex;
    justify-content: center;
}

.root ul, .root li {
    margin: 0;
    padding: 0;
}

.root li::marker {
    content: '';
}

.team-buttons {
    margin: 1rem 0.2rem;
    padding: 1rem 0.2rem;
}

.btn.btn-light {
    border: 1px solid black;
}

.row.team-buttons button {
    width: inherit !important;
    font-size: 1.45em;
}

.row.team-buttons .col.main-col {
    margin-bottom: 1rem
}

.team-player-list.row .player-name {
    text-align: left;
    color: #000;
    font-size: 0.9em;
    padding-right: 0;
    padding-left: 2px;
}

.player-coins {
    color:  #506705;
    padding-left: 0 !important;
    font-weight: bold;
    text-align: right;
}

.team-btn-row {
    display: flex;
    justify-content: space-between;
}

.team-coins {
    font-weight: bold;
    width: fit-content;
}

.team-name.text-left {
    text-align: left;
}

.del-btn {
    cursor: pointer;
    font-weight: bold;
    display: none;
}

.player-entry:hover .del-btn {
    display: block;
    width: 100%;
    position: absolute;
    background: #00000085;
    color: white;
    z-index: 1;
}


@media screen and (min-width: 1200px) {
    .container {
        max-width: 98vw;
        padding: 0;
    }
}


.player-entry {
    display: flex;
    max-height: fit-content;
    position: relative;
    border-bottom: 1px solid #000;
}


.team-player-list {
    height: inherit;
    margin-top: 1rem;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    line-height: 3rem;
    background-color: #f44646;
    color: #fff;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin-left: -3px;
    margin-right: -3px;
}

.title .text {
    margin-inline: auto;
}

.row.title > * {
    width: fit-content;
}

.showMatches,
.refresh-link {
    position: absolute;
    right: 0;
    font-size: 30px !important;
    margin-left: auto;
    width: auto;
}

.btn.team-action-button {
    font-size: 1.3rem;
}

.team-action-button:disabled:hover {
    cursor: not-allowed;
}

.player-entry, .player-entry.row {
    font-size: 1.5rem;
    line-height: 2rem;
}

.matches-row {
    display: flex;
    flex-direction: column;
    height: 500px;
    flex-wrap: wrap;
}

.matches-col {
    text-align: left;
    margin-inline: 1rem;
    font-size: 1.25rem;
    line-height: 1.6;
}

.match-name {
    font-weight: bold;
    display: flex;
    gap: 10px;
}

.match-name > span:first-child {
    min-width: 2ch;
    text-align: right;
}

.match-name > span:not(:first-child) {
    min-width: 18ch;
}

.match-name > span:nth-child(2) {
    text-align: right;
}

.team-name {
    font-weight: bold;
    font-family: 'poppins-regular';
    letter-spacing: 0.5px;
}

.team-buttons.row {
    /* padding-left: 5px !important;
    padding-right: 5px !important; */
}
